@model IEnumerable<WebStoreMVC.Models.Employee>

<div class="container">
    <h3>Сотрудники</h3>

    <p>
        <a asp-action="Create" class="btn btn-sm btn-default">Создать</a>
    </p>

    @if (Model.Any())
    {
        <hr/>

        <table class="table">
            <thead>
                <tr>
                    <th></th>
                    <th>Id</th>
                    <th>Фамилия</th>
                    <th>Имя</th>
                    <th>Отчество</th>
                    <th>Возраст</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <form asp-action="DeleteConfirmed" asp-route-id="@item.Id">
                                <input class="btn btn-sm btn-danger" type="submit" value="X"/>
                            </form>
                        </td>
                        <td>@item.Id</td>
                        <td>
                            <a asp-action="Details" asp-route-Id="@item.Id">@item.LastName</a>
                        </td>
                        <td>@item.FirstName</td>
                        <td>@item.MiddleName</td>
                        <td>@item.Age</td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-default">
                                <i class="fa fa-edit"></i>
                            </a>
                            <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger">
                                <i class="fa fa-times"></i>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>Сотрудники отсутствуют</p>
    }

    <a asp-controller="Home" asp-action="Index">На главную</a>
</div>